<div class="weather-widget">
  {{#each partials.weather}}
  <div class="location">
    <h3>{{area}}</h3>
    <a href="{{forecastUrl}}">
      {{!-- <img src="{{iconUrl}}" alt="{{weather}}"> --}}
      {{weather}}, {{temp}}
    </a>
  </div>
  {{/each}}
  <small>Source: <a href="http://www.weatherdt.com/">智慧气象服务云</a></small>
</div>